%container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
 
%section {
    padding-top: 64px;
    padding-bottom: 64px;
}

%list {
    list-style: none;
}

%link {
    text-decoration: none;
}

%btn {
    display: block;
    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%),
        linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%),
        #0E70AF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $tertiaryColor;
    border: none;
}