$primaryColor: #4F4F4F;
$secondaryColor: #333;
$tertiaryColor: #fff;
$colorBrand: #647B64;
$primaryBackgroundColor: #F3F1EE;
$invertColor: #DFD1C0;
$colorTitle: #F3B562;
$footerColor: #F0DCC5;
$hoverColor: #fefefe;
$gradient: linear-gradient(164.26deg,
    rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%);