$primaryColor: #4F4F4F;
$secondaryColor: #333;
$tertiaryColor: #fff;
$colorBrand: #647B64;
$primaryBackgroundColor: #F3F1EE;
$invertColor: #DFD1C0;
$colorTitle: #F3B562;
$footerColor: #F0DCC5;
$hoverColor: #fefefe;