.advantage {
    @extend %section;

    &__container {
        @extend %container;
        display: flex;
        gap: 96px;
    }

    &__text {
        letter-spacing: 0.04em;
        margin-bottom: 40px;
    }
}

.advantage-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 42px;
    @extend %list;

    &__item {
        flex-basis: calc((100% - 32px) / 2);
        padding: 32px 40px;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: $secondaryColor;
        font-variant: small-caps;
    }

    &__text {
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.04em;
        color: $primaryColor;
    }
}