.advantage {
    @extend %section;

    &__container {
        @extend %container;
        display: flex;
        justify-content: space-between;
        gap: 100px;
    }

    &__text {
        letter-spacing: 0.04em;
        margin-bottom: 40px;
        
    }
}

.section-description {
    max-width: 460px;
}

.advantage-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 42px;
    @extend %list;

    &__item {
        flex-basis: calc((100% - 32px) / 2);
        padding: 32px 40px;

        &:hover {
            background-color: $tertiaryColor;
            box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
                border-radius: 8px;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 48px;
        height: 48px;
        fill: $colorBrand;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
        border-radius: 8px;
        background-color: $tertiaryColor;

        .advantage-card__item:hover & {
            background-color: $colorBrand;
            fill: $tertiaryColor;
            box-shadow: none;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: $secondaryColor;
        font-variant: small-caps;
    }

    &__text {
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: 0.04em;
        color: $primaryColor;
    }
}