body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $primaryColor;
    background-color: $primaryBackgroundColor;
}

* {
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
span,
ul {
 margin: 0;
 padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    @extend %btn;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 24px;
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);

    &__icon {
        margin-left: 16px;
        fill: currentColor;
    }
}

.heading-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    text-transform: uppercase;
    color: $colorTitle;
    margin-bottom: 8px;
}

.heading-subtitle {
    display: block;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $colorBrand;
    margin-bottom: 40px;
}