.feature {
    @extend %section;

    &__container {
        @extend %container;
    }
}

.feature-card {
    @extend %list;
    display: flex;
    gap: 44px;
 
    &__item {
        flex-basis: calc((100% - 88px) / 3);
    }

    &__container {
        padding: 64px 50px 59px 50px;
        background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%,
                rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
        border-radius: 8px;
        fill: $colorBrand;
  
        .feature-card__item:nth-child(even) & {
            background: $colorBrand;
            color: $tertiaryColor;
            fill: $tertiaryColor;
        }
    }

    &__icon {
        margin-bottom: 32px;
        // fill: currentColor;
        // fill:$colorBrand;

        // .feature-card__item:nth-child(2n) & {
        //     fill: $tertiaryColor;
        // }
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.5;
        color: $secondaryColor;
        margin-bottom: 16px;
        text-transform: uppercase;
    
        .feature-card__item:nth-child(even) & {
            color: $tertiaryColor;
        }
    }

    &__text {
        letter-spacing: 0.04em;
    }
}